{% extends "librarian/base.html" %}

{% block title %} Manage Books {% endblock %}

{% block navactive %}
<li><a href="{% url 'home-page' %}" ><i class="fa-solid fa-house"></i> Home</a></li>
<li><a href="{% url 'at-page' %}"><i class="fa-solid fa-book"></i> Add Book</a></li>
<li><a href="{% url 'as-page' %}"><i class="fa-solid fa-user-plus"></i> Add Student</a></li>
<li class="active"><a href="{% url 'vt-page' %}"><i class="fa-solid fa-bars-progress"></i> Manage Book</a></li>
<li><a href="{% url 'vs-page' %}"><i class="fa-solid fa-user-pen"></i> Manage Student</a></li>
<li><a href="{% url 'vib-page' %}"><i class="fa-solid fa-arrow-right-arrow-left"></i> Manual Transaction</a></li>
<li><a href="{% url 'fs-page' %}"><i class="fa-solid fa-indian-rupee-sign"></i> Fine Section</a></li>
{% endblock %}


{% block content %}

{% endblock %}