Django==4.0
pip install django-4.0

$ django-admin startproject mysite
$ python manage.py startapp <myapp>

#In Setting:

installed apps = [ .......,
                    'myapp',]
                    

change STATIC_URL         # https://docs.djangoproject.com/en/4.0/howto/static-files/

change Templates 'DIRS'




#Database
Create database using XAMPP localhost/phpmyadmin 'lms' here
# https://docs.djangoproject.com/en/4.0/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'lms',
        'USER': 'root',
        'PASSWORD': '',
        'HOST': '127.0.0.1',
        'PORT': '3306',
        'OPTIONS': {
            'init_command': "SET sql_mode='STRICT_TRANS_TABLES'",
        }
    }
}

# Default primary key field type
# https://docs.djangoproject.com/en/4.0/ref/settings/#default-auto-field


DEFAULT_AUTO_FIELD = 'django.db.models.BigAutoField'


# Email Setting
# myaccount.google.com/lesssecureapps (Enable it)
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = '587'
EMAIL_HOST_USER = 'library.sagarmatha@gmail.com'
EMAIL_HOST_PASSWORD = 'Sagarmatha1234'
EMAIL_USE_TLS = True
# EMAIL_USE_SSL = ''



provide urlpatterns path in project

Create static folder to store CSS, txt, pdf, photo,...    # Note it is visible to user so don't store anything here that can create security loophole
Inside templates -- create html files

## Inside App ##
New files: urls.py, forms.py
Provide urlpatterns paths and define its view in view.py



#########################################################################
Django is web framework helping you build web sites or web apps.
Tkinter is the python interface to the Tk GUI toolkit that is shipped with Python.
Tkinter is a library aimed at making system/desktop apps by creating user forms.
Depending of what you do both may be usefull, but it is worth noting…while Django is leading in its area, there are better alternatives to Tkinter e.g. PyQt.
Tkinter is used for making desktop application ..and mostly people use it just for prototyping thier application as it is quite old and easy to use.
##########################################################################